.distill-site-nav {
  font-family: 'Fira Mono', sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
}

.distill-site-header {
  font-family: 'Fira Mono', sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Fira Mono', sans-serif;
  color: color: #383838;
}

@import url('https://fonts.googleapis.com/css2?family=Lato');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono');

html, body, p {
  
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  line-height: 1.3; 
  font-size: 1.0em;
  color: #333333;
  font-style: normal;
  
}

code {
  font-family: 'Fira Mono', sans-serif;
  color: #383838;
  background: #F5F5F5;
  font-weight: 400;
  font-size: 0.9em;
}

.distill-site-nav a:hover {
  color: #383838;
}


