.distill-site-nav {
    background-color: black;
    font-family: 'Spectral', sans-serif;  
    color: #000000;
    font-size: 15px;
    font-weight: 400;
}

.distill-site-header {
  font-family: 'Spectral', sans-serif;
  color: #000;
  background-color: #fff;
  font-size: 15px;
  font-weight: 400;
}

